*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Quicksand", sans-serif ;
}
body{
  background-color: #41444b;
}
.container, h1, h2, .quizlib-question-title, p{
  color:white;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
#space{
  margin-right: 25px;
}
#quiz{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  background-color: #f0a500;
  border-radius: 10px;
}
.gallery-area{
  display: flex;
  flex-direction: column;
  margin: 20px;
 
}
.gallery-area p{
  font-size: 1.2rem;
}
.gallery-area img{
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);  
  width: 250px;
  height: 150px;
  
  
}
.input{
  /* height: 100%; */
  border: none;
  box-shadow: 0 0 30px rgba(0,0,0,0.5); 
  width: 100%;
  border-radius: 5px; 
  margin-bottom: 5%;
  text-align: center;
}


/*title animation*/
.container span{
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  color:white;
  opacity: 0;
  transform: translate(-155px,0) scale(0.4);
  animation: animate .5s forwards;
}
.container span:nth-of-type(2){
  animation-delay: 0.05s;
}
.container span:nth-of-type(3){
  animation-delay: 0.1s;
}
.container span:nth-of-type(4){
  animation-delay: 0.15s;
}
.container span:nth-of-type(5){
  animation-delay: 0.2s;
}
.container span:nth-of-type(6){
  animation-delay: 0.25s;
}
.container span:nth-of-type(7){
  animation-delay: 0.3s;
}
.container span:nth-of-type(8){
  animation-delay: 0.35s;
}
.container span:nth-of-type(9){
  animation-delay: 0.4s;
}
@keyframes animate{
  40%{
      transform: translate(50px,0)scale(.7);
      opacity: 1;
      color: #fff;
  }
  60%{
      color:wheat;
  }
  80%{
      transform: translate(0)scale(2);
      opacity: 0;
  }
  100%{
      transform: translate(0)scale(1);
      opacity: 1;
  }
}

button{
  width:70%;
  margin-top: 2%;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  display:inline-block;
}

#quiz-result{
  display: none;
  margin-top: 10px;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: white;

}
nav{
  display:flex;
  justify-content: space-around;
  min-height: 8vh;
  align-items: center;
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 2px solid violet;

}

.logo{
  color: deepskyblue;
  letter-spacing: 5px;
  font-size: 32px;
}

.nav-links{
  
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}

.nav-links a{
  display: inline-block;
  text-decoration: none;
  letter-spacing: 2px;
  transition:transform 0.4s;
}
a:hover{
  transform:scale(1.3);
}


.burger {
 display: none; 
}
.burger div{
  height: 5px;
  width: 25px;
  background-color: white;
  margin: 5px;
}





@media screen and (max-width:768px) {
  body{
      overflow-x: hidden;
  }
  .nav-links{
      position: absolute;
      right:0px;
      font-size: 20px;
      width: 40%;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      background: rgba(0,0,0,0.8);
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 1;
  }
 

  .burger{
      display: block;
      cursor: pointer;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}


